<h2 mat-dialog-title class="dialog-title">Add New Service</h2>
<hr>
<mat-dialog-content>
  <form>
    <div class="mb-3">
      <mat-form-field class="example-full-width">
        <mat-label><span class="text-danger mr-1">*</span>SERVICE NAME</mat-label>
        <input matInput placeholder="Enter Service Name" [(ngModel)]="addService.service" name="service">
      </mat-form-field>
      <div style="height:20px;">
        <span *ngIf="!isServiceValid" class="text-danger">
          Please enter service name
        </span>
      </div>
    </div>

    <div class="mb-3">
      <mat-form-field class="example-full-width">
        <mat-label>DESCRIPTION</mat-label>
        <input matInput placeholder="Enter Description" [(ngModel)]="addService.description" name="description">
      </mat-form-field>
      <div style="height:20px;">
      </div>
    </div>

    <div class="mb-3">
      <mat-form-field class="example-full-width">
        <mat-label><span class="text-danger mr-1">*</span>DIRECTORY</mat-label>
        <input matInput placeholder="Enter Directory" [(ngModel)]="addService.directory" name="directory">
      </mat-form-field>
      <div style="height:20px;">
        <span *ngIf="!isDirValid" class="text-danger">
          Please enter root directory
        </span>
      </div>
    </div>

    <div class="mb-3">
      <mat-card>
        <mat-card-content>
          <h3><span class="text-danger mr-1">*</span>GIT REPOSITORY</h3>
          <section class="example-section">
            <mat-checkbox class="example-margin" [(ngModel)]="checked" name="checkbox">Enter Only URL</mat-checkbox>
          </section>
        </mat-card-content>
      </mat-card>
      <div style="height:20px;">
      </div>
    </div>

    <div class="mb-3">
      <div *ngIf="checked; else elseBlock">
        <mat-form-field class="example-full-width">
          <mat-label><span class="text-danger mr-1">*</span>URL</mat-label>
          <input type="url" matInput placeholder="Enter Git Repository URL" [(ngModel)]="url" name="url">
        </mat-form-field>
        <div style="height:20px;">
          <span *ngIf="!isUrlValid" class="text-danger">
            Please enter git repository URL
          </span>
        </div>
      </div>
      <ng-template #elseBlock>
        <mat-form-field class="example-full-width">
          <mat-label><span class="text-danger mr-1">*</span>URL</mat-label>
          <input type="url" matInput placeholder="Enter Git Repository URL" [(ngModel)]="url" name="url">
        </mat-form-field>
        <div style="height:20px;">
          <span *ngIf="!isUrlValid" class="text-danger">
            Please enter git repository URL
          </span>
        </div>

        <mat-form-field class="example-full-width">
          <mat-label><span class="text-danger mr-1">*</span>USERNAME</mat-label>
          <input matInput placeholder="Enter Git Repository Username" [(ngModel)]="username" name="username">
        </mat-form-field>
        <div style="height:20px;">
          <span *ngIf="!isUsernameValid" class="text-danger">
            Please enter git repository username
          </span>
        </div>

        <mat-form-field class="example-full-width">
          <mat-label><span class="text-danger mr-1">*</span>PASSWORD</mat-label>
          <input type="password" matInput placeholder="Enter Git Repository Password" [(ngModel)]="password" name="password">
        </mat-form-field>
        <div style="height:20px;">
          <span *ngIf="!isPasswordValid" class="text-danger">
            Please enter git repository password
          </span>
        </div>

      </ng-template>
    </div>

    <div class="mb-3">
      <mat-form-field class="example-chip-list">
        <mat-label><span class="text-danger mr-1">*</span>PROFILES</mat-label>
        <mat-chip-list #chipList aria-label="Profiles selection">
          <mat-chip *ngFor="let profile of profiles" [selectable]="selectable"
                   [removable]="removable" (removed)="remove(profile)">
            {{profile.name}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="New Profile..."
                 [matChipInputFor]="chipList"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="addOnBlur"
                 (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
      </mat-form-field>
      <div style="height:20px;">
        <span *ngIf="!isProfileValid" class="text-danger">
          Please enter profile names
        </span>
      </div>
    </div>

    <div class="mb-3">
      <mat-form-field class="example-chip-list">
        <mat-label><span class="text-danger mr-1">*</span>BRANCHES</mat-label>
        <mat-chip-list #chipListBranch aria-label="Branches selection">
          <mat-chip *ngFor="let branch of branches" [selectable]="selectable"
                   [removable]="removable" (removed)="removeBranch(branch)">
            {{branch.name}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="New Branch..."
                 [matChipInputFor]="chipListBranch"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="addOnBlur"
                 (matChipInputTokenEnd)="addBranch($event)">
        </mat-chip-list>
      </mat-form-field>
      <div style="height:20px;">
        <span *ngIf="!isBranchValid" class="text-danger">
          Please enter branch names
        </span>
      </div>
    </div>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <app-btn [label]=" 'Cancel' " [icon]="'cancel'" [isCancel]="true" (clicked)="closeDialog()"></app-btn> 
  <app-btn (clicked)="addNewService()" [label]=" 'Add' " [icon]="'add_circle'"></app-btn>
</mat-dialog-actions>

