<div class="container" *ngFor="let s of services">
    <button class="service-button service-text" (click)="openWorkspace(s)">
        {{s.service | headingPipe}}
        <span class="to-right">
            <span class="branch-profile-text">BRANCHES</span>  
            {{s.branches.length}} &nbsp; &nbsp; 
            <span class="branch-profile-text">PROFILES</span> 
                {{s.profiles.length}}
        </span>
    </button>

</div>
<!--
<mat-paginator [length]="services.length"
               [pageIndex]="pageIndex"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               (page)="addToPaginator($event)">
</mat-paginator>


<div class="container" *ngFor="let s of paginatorServices">
    <button class="service-button service-text" (click)="openWorkspace(s)">
        {{s.service | headingPipe}}
        <span class="to-right">
            <span class="branch-profile-text">BRANCHES</span>  
            {{s.branches.length}} &nbsp; &nbsp; 
            <span class="branch-profile-text">PROFILES</span> 
                {{s.profiles.length}}
        </span>
    </button>

</div>
-->