<div *ngIf="paginatorServices.length>0">
<div class="container" *ngFor="let s of paginatorServices" >
    <button class="service-button service-text" (click)="openWorkspace(s)">
        {{s.service | headingPipe}}
        <span class="to-right">
            <span class="branch-profile-text">BRANCHES</span>  
            {{s.branches.length}} &nbsp; &nbsp; 
            <span class="branch-profile-text">PROFILES</span> 
                {{s.profiles.length}}
        </span>
    </button>

</div>
</div>


<mat-paginator [length]="services.length"
               [pageIndex]="pageIndex"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               class="paginator-control"
               (page)="addToPaginator($event)"
               *ngIf="paginatorServices.length>0">
</mat-paginator>
<div *ngIf="!(paginatorServices.length>0)" class="container text-center">
    <h1>No Services Found</h1>
</div>
