a{
  color: black;
  text-decoration: none;
}
.activeRoute{
  font-weight: bolder;
  color: #E20074;
  font-weight: 400 !important;
}
.routing-div{
  margin-bottom: 20px;
}
.route-text{
  margin-right: 20px;
  margin-left:20px;
  font-size: 1.5em;
  font-weight: 100;
}