.dialog-button{

    background-color: #E20074;
    border-color: #E20074;
    margin-left: 16px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 1rem;
    border-radius: .5rem;
    

}
.dialog-button:hover{
    background-color: #D1006C;
    border-color: #D1006C;
}
.cancel-btn{
    margin-left: 16px;
    background-color: #FFFFFF;
    border-color: #6B6B6B;
    color: #262626;
    font-weight: 500;
    font-size: 1rem;
    border-radius: .5rem;
    

}
.cancel-btn:hover{
    background-color: #DDDDDD;
    border-color: #6B6B6B;
    color: #262626;
}
mat-icon {
    margin-right: 5px;
}