<h2 mat-dialog-title class="dialog-title" >JSON Schema Editor</h2>

<div fxLayout="row">
    <div fxLayout="column" fxFlex="50">
        <mat-radio-group class="example-radio-group editor-header" [(ngModel)]="editorMode">
            <mat-radio-button class="example-radio-button .mat-h3"  value="JSON"><b>JSON</b></mat-radio-button>
            &nbsp;&nbsp;
            <mat-radio-button class="example-radio-button"  value="YAML"><b>YAML</b></mat-radio-button>
        </mat-radio-group>
        <app-custom-codemirror [id]=" 'input-json' " [codemirrorHeight]=" '600px' " 
        [isEditable]="true" [codemirrorMode]="editorMode" (modifyProfileData) = "modifyProfileData($event)">
        </app-custom-codemirror>
    </div>

    <div fxLayout="column" fxFlex="50">
        <div class="editor-header"><b>JSON SCHEMA</b></div>
        <app-custom-codemirror [id]=" 'output-json-schema' " [content]="jsonSchema"
        [codemirrorHeight]=" '600px' " [codemirrorMode]="'JSON'">
        </app-custom-codemirror>
    </div>
</div>