<h2 mat-dialog-title class="dialog-title">Check Consistency Across Branches</h2>
<hr>
<mat-dialog-content>
  <form>
    <div class="mb-3">
        <app-dropdown [dropdownList]="services" [label]=" 'SELECT SERVICE NAME' " (change)="setFunction($event)" ></app-dropdown>
        <div style="height:20px;">
          <span *ngIf="!isServiceValid" class="text-danger">
            Please select service name
          </span>
        </div>
    </div>
    <div class="mb-3">
        <app-dropdown [dropdownList]="branchList" [label]=" 'BRANCH 1' " (change)="setBranch1($event)" ></app-dropdown>
        <div style="height:20px;">
          <span *ngIf="!isBranch1Valid" class="text-danger">
            Please select branch 1 name
          </span>
        </div>
    </div>
    <div class="mb-3">
        <app-dropdown [dropdownList]="branchList" [label]=" 'BRANCH 2' " (change)="setBranch2($event)" ></app-dropdown>
        <div style="height:20px;">
          <span *ngIf="!isBranch2Valid" class="text-danger">
            Please select branch 2 name
          </span>
        </div>
    </div>
    <div class="mb-3">
        <mat-card>
            <mat-card-content>
            <section class="example-section">
                <mat-checkbox class="example-margin" [(ngModel)]="checked" name="checkbox">Property Value Equal</mat-checkbox>
            </section>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="mb-3">
        <mat-form-field class="example-chip-list">
            <mat-label>RECIPIENTS EMAIL</mat-label>
            <mat-chip-list #chipList aria-label="Recipients selection">
            <mat-chip *ngFor="let recipient of recipients" [selectable]="selectable"
                    [removable]="removable" (removed)="remove(recipient)">
                {{recipient}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input placeholder="New Recipient..."
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="addOnBlur"
                    (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
        </mat-form-field>
        <div style="height:20px;">
          <span *ngIf="!isRecipientValid" class="text-danger">
            Please enter recipient names
          </span>
        </div>
    </div>
  </form>
</mat-dialog-content>
<hr>
<mat-dialog-actions align="end">
  <app-btn mat-dialog-close [label]=" 'Cancel' " [isCancel]="true"></app-btn> 
  <app-btn (clicked)="checkConsistency()" [label]=" 'Send Mail' " cdkFocusInitial></app-btn>
  <mat-progress-spinner mode="indeterminate" diameter="30" [hidden]="!visibleProgressSpinner"></mat-progress-spinner>
</mat-dialog-actions>
