<div class="container">
<mat-form-field appearance="standard">
    <mat-label>Search Property</mat-label>
    <input matInput placeholder="Placeholder" (keyup)="filterProperty($event)">
</mat-form-field>
&nbsp;&nbsp;&nbsp;&nbsp;
<mat-form-field appearance="standard">
    <mat-label>Search Services</mat-label>
    <input matInput placeholder="Placeholder" (keyup)="filterServices($event)">
</mat-form-field>
<app-btn (clicked)="openCustomValidationDialog()" [label]=" 'Mail Custom Validation Report' "></app-btn>
<a  class="route-text" routerLink="/schema-writer" routerLinkActive="activeRoute">
    <app-btn  [label]=" 'JSON Schema Editor' "></app-btn>
</a>

</div>
