<div fxLayout="row" class="workspace-title">
<h2 mat-dialog-title >{{mservice.service | headingPipe}}</h2>
<app-btn [label]=" 'Create Branch' " (clicked)="sendMergeRequest()" *ngIf="sendMR" class="merge-btn"></app-btn>
</div>


<mat-dialog-content class="mat-typography">

  <div fxLayout="row" fxLayoutAlign="start center">
      <app-dropdown [dropdownList]="functionList" [label]=" 'FUNCTION' "  (change)="setFunction($event)" ></app-dropdown>
      <app-dropdown [dropdownList]="branchList" [label]=" 'BRANCH' " [defaultValue]="branchValue" (change)="setBranch($event)" *ngIf="isBranchReq" ></app-dropdown>
      <app-dropdown [dropdownList]="branchList" [label]=" 'SOURCE' " [defaultValue]="sourceBranchValue" (change)="setSourceBranch($event)" *ngIf="isBranch2Req" ></app-dropdown>
      <app-dropdown [dropdownList]="branchList" [label]=" 'DESTINATION' " [defaultValue]="destinationBranchValue" (change)="setDestinationBranch($event)" *ngIf="isBranch1Req" ></app-dropdown>
      <app-profile-input [mservice]="mservice" [canProfileDefault]="canProfileDefault" (profile_sent)="setProfile($event)" *ngIf="isProfileReq"></app-profile-input>
      <app-dropdown [dropdownList]="inconsistentProfiles" [label]=" 'PROFILE' " [defaultValue]="ICP" (change)="setICP($event)" *ngIf="isProfileConsistency"></app-dropdown>
      <app-btn (clicked)="processFunction()" [label]=" 'Show' " *ngIf="showBtn"></app-btn>
      <span style="color:red;" *ngIf="!reqValidation">Please fill the required fields*</span>
      <mat-progress-spinner mode="indeterminate" diameter="30" [hidden]="!visibleProgressSpinner"></mat-progress-spinner>    
  </div>
  <!-- Showing the contents accordingly -->
  <div fxLayout="row">
    <app-custom-codemirror [content]="displayData" [id]=" 'custom' " 
    [propertyList]="propertyList" [ownerList]="ownerList" 
    [cmp]="chosenMissingProperty"
    [isEditable]="isEditable"
    (modifyProfileData) = "modifyProfileData($event)"
    *ngIf="!isBranchConsistency"
    [ngClass]="{'full-width-editor':missingProperties.length===0, 'partial-width-editor':missingProperties.length>0}">

    </app-custom-codemirror>

    
    <app-dropdown [dropdownList]="missingProperties" [label]=" 'Missing Properties' " (change)="populateMissingProperty($event)"   
    *ngIf="missingProperties.length>0"></app-dropdown>
    <!--<app-custom-codemirror fxFlex [content]="displayData2" [id]=" 'custom2' " [propertyList]="propertyList" [ownerList]="ownerList" [differenceProperties]="differenceProperties" *ngIf="isBranch2Req"></app-custom-codemirror>-->
    <app-monaco-editor fxFlex [data1]="displayData" [data2]="sourceData" (modifySourceData)="modifySourceData($event)" *ngIf="isBranchConsistency"></app-monaco-editor>
  </div>
  

</mat-dialog-content>


<mat-dialog-actions align="end">
  <app-btn [label]=" 'Keep Changes' " (clicked)="keepChangesClicked()" *ngIf="keepChanges"></app-btn>
  <app-btn [label]=" 'Discard Changes' " (clicked)="discardChangesClicked()" *ngIf="discardChanges"></app-btn>
  <app-btn [label]=" 'Cancel' " [isCancel] = "true" (clicked)="closeWorkspace()" [icon]="'cancel'"></app-btn>
</mat-dialog-actions>

