.mat-dialog-content {
    display: block;
    margin: 0 -24px;
    padding: 0 24px;
    height: 550px;
    overflow: scroll;
}
.workspace-title{
    color:#E20074;
}
.merge-btn{
    margin-top: 0px;
}
app-dropdown{
    margin-right: 30px;
}
.full-width-editor {
    width: 100%;
    max-width: 100%;
}
.partial-width-editor {
    width: 80%;
    max-width: 80%;
}