.custom-toolbar{
    background-color: #E20074;
    padding-left: 0px;  
    font-weight: normal;
    margin-bottom: 45px;
    color:#FFFFFF;
}
.tool-title{    
    padding-left:10px;
    font-size: large;

}
.app-name{
    font-weight: 500;
}