.custom-toolbar{
    background-color: #DA0972;
    padding-left: 0px;  
    font-weight: normal;
    margin-bottom: 15px;
}
.tool-title{
    background-color: #536162;
    color:white;
    height: 64px;
    padding-top: auto;
    padding-top: 15px;
    padding-left:10px;
    padding-right:10px;
    text-align: center;

}
.team-title{
    color:white;
    padding-left: 20px;
}
.navbar-brand{
    color: white;
}
.hgw{
    color: white;
}